<div class="container">
    <h2 id="titulo" #titulo>Contacto</h2>

    <p #texto>
        <label for="widthSlider">Tamaño del Slider</label>
        <input type="number" name="widthSlider" id="widthSlider" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()">
    </p>
    <button (click)="resetSlider()">Resetear Slider</button>

    <app-slider *ngIf="anchuraToSlider" [ancho]="anchuraToSlider" (sendAutor)="getAutor($event)"></app-slider>
    <div class="infoContacto" *ngIf="autor">
        <p #autor>
            {{autor|json}}
        </p>
    </div>
</div>