<p *ngIf="isLoad"> Cargando proyecto .....</p>
<div class="container" *ngIf="project">
    <div class="image">
        <img src="{{url+'getImage/'+project.image}}" *ngIf="project.image" alt={{project.image}}>
    </div>
    <div class="data">
        <h1>{{project.projectName}}</h1>
        <h3>{{project.category}}</h3>
        <p><b>Descripción del proyecto :</b> {{project.description}}</p>
        <p><b>Categoria del proyecto :</b> {{project.category}}</p>
        <p><b>Año de cración del proyecto :</b>{{project.projectYear}}</p>
        <p><b>Lenguajes :</b> {{project.lenguajes}}</p>
        <p *ngIf="!confirm">
            <a [routerLink]="['/editProject',project.id]" routerLinkActive="router-link-active" class="button-edit">Editar proyecto</a>
            <a (click)="setConfirm(true)" class="button-delete">Borrar proyecto</a>
        </p>

        <p *ngIf="confirm">
            <span class="confirm">¿Estas seguro de querer eliminar?</span>
            <a (click)="setConfirm(false)" class="button-edit">Cancelar</a>
            <a (click)="deleteProject(project.id)" class="button-delete">Eliminar definitivamente</a>
        </p>
    </div>
</div>


<div class="errorLoad" *ngIf="status!=''">
    <h2>Error al cargar la informacion</h2>
    <p>{{status}}</p>
</div>

<div class="clearFix"></div>
