#title {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
}

#title h1 {
    font-family: "finger";
    font-size: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#title h2 {
    font-size: 25px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.about {
    width: 70%;
    margin: 0px auto;
    font-size: 18px;
}

.about h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}