<nav class="menu">
    <ul>
        <li>
            <a [routerLink]="['/sobremi']" [routerLinkActive]="['actived']">Sobre mi</a>
        </li>
        <li>
            <a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a>
        </li>
        <li id="logo"><a href="#">SVG</a></li>
        <li>
            <a [routerLink]="['/crearProjecto']" [routerLinkActive]="['actived']">Crear Proyecto</a>
        </li>
        <li>
            <a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a>
        </li>
    </ul>
</nav>

<section id="contenido">
    <router-outlet>
    </router-outlet>
</section>

<footer>
    Master en JavaScript, NodeJs y Angular &copy
</footer>